In [ ]:
rating = 4.2
if (rating>4):
  print('Excellent')

Excellent

In [ ]:
rating = 3.6
if (rating>4):
  print('Excellent')

In [ ]:
rating = 3.8
if (rating>4):
  print('Excellent')
else:
  print('Good')

Good

In [ ]:
rating = 4.3
if (rating>4):
  print('Excellent')
else:
  print('Good')

Excellent

In [ ]:
rating = 3.6
if (rating>4.2) & (rating<=5):
  print('Excellent')
elif (rating>3.5) & (rating<=4.2) :
  print('Good')
elif (rating>3) & (rating<=3.5) :
  print('Average')
else:
  print('Needs improvement')

Good

# Please write one command for the below questions.
1. Find each element that is divisible by 3.
2. For each element that is divisible by 3, add 2 to each of those elements.
3. Check which elements divisible by 3 & are greater than 30, and print only those.

In [ ]:
list1 = [2,6,8,12,85,56,14,23,74,48,25,71,13,27,14,54]
print(list1)
for i in range(len(list1)):      #i=0,1,2,3,4,5......16
  if list1[i]%3==0:
    if (list1[i]>30):
      print(list1[i])
    list1[i]+=2         #list1[i] =list1[i] + 2
print(list1)

[2, 6, 8, 12, 85, 56, 14, 23, 74, 48, 25, 71, 13, 27, 14, 54]
48
54
[2, 8, 8, 14, 85, 56, 14, 23, 74, 50, 25, 71, 13, 29, 14, 56]

In [ ]:
list1 = [7,4,5,2,1,5,7,8,9,6,5,4,1,2,3,5,6]
#Find the indices of all occurrences of the number 5 in the list1

In [ ]:
len(list1)

17

In [ ]:
for i in range(len(list1)):
  if list1[i] ==5:
    print(i)

2
5
10
15

In [ ]:
list1 = [7,4,5,2,1,5,7,8,9,6,5,4,1,2,3,5,6]
#Write a for loop which can print only the unique values from this list.

In [ ]:
num = int(input('Please enter a number: '))
for i in range(1,num+1):
  if (num%i == 0):
    print(i)

Please enter a number: 24
1
2
3
4
6
8
12
24

In [ ]:
# Create a list of prime numbers between 1 to 100 using for loop & conditional statements.
prime_list= []
for i in range(2,100):    #i = 2,3,4,5,6......100
  for j in range(2,i):    # if i= 4, j = 2,3
    if i%j ==0:
      break
  else:
    prime_list.append(i)
prime_list

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

To find if there are any common factors between any 2 numbers given by the user. Print if there are any common factors.

In [ ]:
speed = 80
while speed>30:
  print('Speed Limit Crossed! Reduce the Speed!')
  speed -= 10
  print(speed)

Speed Limit Crossed! Reduce the Speed!
70
Speed Limit Crossed! Reduce the Speed!
60
Speed Limit Crossed! Reduce the Speed!
50
Speed Limit Crossed! Reduce the Speed!
40
Speed Limit Crossed! Reduce the Speed!
30

- Take an integer user input.
- Find the sum of all numbers starting from 1 to the number given as input from user.
- If user has given number 5, then output should be 1+2+3+4+5 = 15

In [ ]:
num = int(input("Enter a number: "))
print(num)
i = 1
sum= 0
while (i<=num):
  sum=sum + i
  i = i + 1
print('The sum of numbers from 1 to', num, 'is', sum)

Enter a number: 8
8
The sum of numbers from 1 to 8 is 36

In [ ]:
num = int(input("Enter a number: "))
print(num)
i = 1
factorial= 1
while (i<=num):
  factorial= factorial * i
  i = i + 1
print('The factorial of', num, 'is', factorial)

Enter a number: 5
5
The factorial of 5 is 120